<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--Integración Dynamics BC-->
		<add key="BcTenantId" value="d0660ba-0171-4b40-ac25-d6663067f534" />
		<add key="BcAPI" value="https://api.businesscentral.dynamics.com/v2.0/{0}/{1}/api/v2.0/{2}" />
		<add key="BcCompanyId" value="API_prueba" />
		<add key="BcEnvironment" value="copia_ultimo" />
		<add key="BCClientId" value="cfd844d9-e478-4a96-ac15-55e4078ad409"/>
		<add Key="BcSecretId" value="8Cn8Q~exAfzIqihmu9yMpSetiRJgAE3r6gjJVcet" />
	</appSettings>
</configuration>